<header class="header-red">
    <div class="container">
        <div class="search-social">

            <div class="search-container">
                <input type="text" id="search-input" placeholder="Buscar...">
                <div class="search-results" id="search-results"></div>
            </div>

            <!-- ICONOS REDES -->
            <div class="social-media">

                <!-- Instagram -->
                <a href="https://www.instagram.com/" target="_blank" title="Instagram">
                    <svg class="icon" viewBox="0 0 448 512">
                        <path d="M224 141c-63.6 0-115 51.4-115 115s51.4 115 115 115 115-51.4 115-115-51.4-115-115-115zm0 190c-41.4 0-75-33.6-75-75s33.6-75 75-75 75 33.6 75 75-33.6 75-75 75zm146.4-194.3c0 14.9-12 26.8-26.8 26.8s-26.8-12-26.8-26.8 12-26.8 26.8-26.8 26.8 12 26.8 26.8zM398.8 80c-29.5-11.7-99.8-9-132.2-9s-102.7-2.6-132.2 9c-19.6 7.8-34.7 23-42.6 42.6-11.7 29.5-9 99.8-9 132.2s-2.6 102.7 9 132.2c7.8 19.6 23 34.7 42.6 42.6 29.5 11.7 99.8 9 132.2 9s102.7 2.6 132.2-9c19.6-7.8 34.7-23 42.6-42.6 11.7-29.5 9-99.8 9-132.2s2.7-102.7-9-132.2c-7.8-19.6-23-34.7-42.6-42.6z"/>
                    </svg>
                </a>

                <!-- Facebook -->
                <a href="https://www.facebook.com/" target="_blank" title="Facebook">
                    <svg class="icon" viewBox="0 0 448 512">
                        <path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137V327h-63v-71h63v-54c0-62 37-96 94-96 27 0 56 5 56 5v61h-31c-31 0-40 19-40 39v45h68l-11 71h-57v153h112a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"/>
                    </svg>
                </a>

                <!-- X (Twitter) -->
                <a href="https://x.com/" target="_blank" title="X">
                    <svg class="icon" viewBox="0 0 512 512">
                        <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L289.4 191.4 389.2 48z"/>
                    </svg>
                </a>

            </div>

        </div>
    </div>
</header>

<nav class="header-white">
    <div class="container">

        <div class="logo">
            <img src="/IMAGENES/logo.jpg" alt="Logo">
        </div>

        <ul class="nav-links">

            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>

            <li class="dropdown">
                <a href="/cursos">Cursos</a>
                <ul class="dropdown-menu">
                    <li><a href="/curso-ninos">Francés para niños</a></li>
                    <li><a href="/curso-adolescentes">Francés para adolescentes</a></li>
                    <li><a href="/curso-adultos">Francés para adultos</a></li>
                    <li><a href="/becas">Becas</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="/cultura">Cultura</a>
                <ul class="dropdown-menu">
                    <li><a href="/eventosculturales">Eventos culturales</a></li>
                    <li><a href="/revista">Revista Cultural</a></li>
                    <li><a href="/galeria">Galería de imágenes</a></li>
                </ul>
            </li>

            <li><a href="/comoayudar">Cómo ayudar</a></li>
            <li><a href="/contactos">Contáctenos</a></li>

        </ul>

    </div>
</nav>