<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto PW2</title>

    <!-- FUENTES -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS GLOBAL -->
    <link rel="stylesheet" href="/CSS/style.css">

    <!-- CSS POR PÁGINA -->
    <link rel="stylesheet" href="/CSS/index-style.css">
    <link rel="stylesheet" href="/CSS/becas-style.css">
    <link rel="stylesheet" href="/CSS/ayudas-style.css">
    <link rel="stylesheet" href="/CSS/contacto-style.css">
    <link rel="stylesheet" href="/CSS/cursos-style.css">
    <link rel="stylesheet" href="/CSS/nosotros-style.css">
    <link rel="stylesheet" href="/CSS/Revista-style.css">
    <link rel="stylesheet" href="/CSS/formulario-style.css">

</head>
<body>

    {{> header}}

    {{{body}}}

    {{> footer}}

    
    <script src="/JS/script.js"></script>

</body>
</html>