<section class="panel1">
    <h3>Cómo Ayudar</h3>
    <p>
        Tu apoyo fortalece nuestra misión cultural y educativa.
    </p>
</section>

<section class="voluntariado-intro">
    <h1>Apoya a la Alianza Francesa de Honduras</h1>
    <div class="subrayado"></div>
    <p>
        Gracias a tu solidaridad, la Alianza Francesa de Honduras puede seguir impulsando 
        programas culturales, educativos y lingüísticos que benefician a estudiantes, artistas 
        y a la comunidad en general.
    </p>
</section>

<section class="voluntariado-tarjetas">
    <h2>Formas de Apoyar</h2>

    <div class="voluntariado-contenedor">

        <article class="vol-card">
            <img src="/IMAGENES/RECUROSC/GRILLA4.jpg">
            <h3>Materiales y Recursos</h3>
            <p>Apoya con libros, mobiliario y recursos educativos.</p>
        </article>

        <article class="vol-card">
            <img src="/IMAGENES/RECUROSC/GRILLA5.jpg">
            <h3>Clases Gratuitas</h3>
            <p>Comparte tus conocimientos impartiendo clases.</p>
        </article>

        <article class="vol-card">
            <img src="/IMAGENES/RECUROSC/GRILLA6.jpg">
            <h3>Impulsar Eventos</h3>
            <p>Colabora en eventos culturales y actividades.</p>
        </article>

        <article class="vol-card">
            <img src="/IMAGENES/RECUROSC/GRILLA7.jpg">
            <h3>Talleres Educativos</h3>
            <p>Participa en talleres y clubes de conversación.</p>
        </article>

        <article class="vol-card">
            <img src="/IMAGENES/RECUROSC/GRILLA8.jpg">
            <h3>Proyectos Comunitarios</h3>
            <p>Súmate a proyectos culturales y educativos.</p>
        </article>

    </div>
</section>

<section class="vol-contacto">
    <div class="vol-contacto-inner">
        <h2>Contacto para Voluntariado y Apoyo</h2>

        <p class="correo">información@aftegucigalpa.hn</p>
        <p class="telefono">+504 9430-9135 / 9430-9128</p>
    </div>
</section>