<h2 class="titulo-elegante">Galería de Imágenes</h2>

<p style="text-align:center; max-width:800px; margin:0 auto 40px;">
    Cada imagen cuenta una historia: descubre nuestra cultura.
</p>

<section class="gallery-section">
    <div class="gallery-grid">

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA1.jpeg">
            <figcaption>Taller creativo para estudiantes.</figcaption>
        </figure>

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA2.jpg">
            <figcaption>Espacios de convivencia cultural.</figcaption>
        </figure>

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA3.jpg">
            <figcaption>Exposición de arte contemporáneo.</figcaption>
        </figure>

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA4.png">
            <figcaption>Noche de cine francés</figcaption>
        </figure>

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA5.jpg">
            <figcaption>Encuentro de literatura y poesía.</figcaption>
        </figure>

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA6.jpg">
            <figcaption>Degustación de gastronomía francesa.</figcaption>
        </figure>

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA7.jpg">
            <figcaption>Exposición fotográfica</figcaption>
        </figure>

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA8.jpg">
            <figcaption>Festival de música y danza.</figcaption>
        </figure>

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA9.jpg">
            <figcaption>Clases de francés en grupo.</figcaption>
        </figure>

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA10.jpg">
            <figcaption>Exposición teatral</figcaption>
        </figure>

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA11.jpg">
            <figcaption>Clase magistral de pintura al óleo.</figcaption>
        </figure>

        <figure class="gallery-item">
            <img src="/IMAGENES/RECURSOSM/GRILLA12.jpg">
            <figcaption>Encuentro de danza y cultura.</figcaption>
        </figure>

    </div>
</section>